html, body {
  width: 100%;
  height: 100%;
}

.title_text {
  margin-top: 5%;
  text-align: center;
}

.placeholder_text {
  margin-top: 20%;
  margin-left: 15%;
  text-align: center;
}

.removeBtn {
  visibility: hidden;
  margin-right: -10%;
}

.add {
  height: 50%;
}

.input_field {
  border-style:none;
  width: 100%;
  height: 255px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/book.png');
}

.hidden {
  visibility: hidden;
}

.addSign {
  margin-top: 35px;
  height: 112.5px;
  width: auto;
}

.jumbotron {
  background-color: transparent !important;
}

.btn-link {
  color: #b3afaf;
}

#clear {
  margin-left: auto;
}

#msg {
  color: #ff0000;
}

.logo {
  width: 15%;
}

.output-card {
  cursor: pointer;
}

/* Extra small devices (portrait phones, less than 576px) */
.card-columns {
  column-count: 1;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card-columns {
    column-count: 3;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .card-columns {
    column-count: 4;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .card-columns {
    column-count: 4;
  }
}

.modal {
  cursor: default;
}

.modal-dialog {
  max-width: 70%;
}

.review-cover {
  width: 50%;
  height: auto;
  max-width: 250px;
}

.reviews-header {
  text-align: center;
}

.book-rating {
  padding: 0;
}

.card-text-image {
  height: 15px;
}

.reviews-header-image {
  height: 18px;
}

.tags span.primary {
  background-color: #428BCA;
  border-color: #357EBD; }

.tags span.success {
  background-color: #5CB85C;
  border-color: #4CAE4C; }

.tags span.info {
  background-color: #5BC0DE;
  border-color: #46B8DA; }

.tags span.warning {
  background-color: #F0AD4E;
  border-color: #EEA236; }

.tags span.danger {
  background-color: #D9534F;
  border-color: #D43F3A; }

.tags span {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  color: white;
  margin: 0 2px 4px 0;
  padding: 2px 7px;
  display: inline-block;
}
