.book {
  height: 170px;
}

.title_text{
  margin-top:5px;
  text-align: center;
}

.removeBtn {
  visibility: hidden;
  margin-left: 60%;
}

.add {
  height: 50%;
}

.input_field {
  height: 250px;
}

.hidden {
  visibility: hidden;
}

.addSign{
  margin-top: 35px;
  height: 112.5px;
  width: auto;
}

.card-columns{
  column-count: 4;
}

.jumbotron {
  background-color:transparent !important;
}

.btn-link{
  color:#b3afaf;
}

#clear{
  margin-left:auto;
}

#msg{
  color: #ff0000;
}

.logo{
  width:15%;
}
