<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/bloodhound.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/typeahead.jquery.min.js"></script>

<html>
    <label>Search Countries:</label>
    <input type="text" id="my_search" name="search" autocomplete="off" />
<script>
    var jsonData= (function() {
    var title = [];
    $.ajax({
        type:'GET',
        url:'new_book.json',
        dataType:'json',
        async:false,
        success:function(data){
            $.each(data, function(key, val) {
                title.push(key);
            }
        }
    });
    return result;
})();
//alert(JSON.stringify(jsonData));
    // init Bloodhound
//var book_titles = ["Harry Potter", "Harry LOL"];
//$.getJSON( "new_book.json", function( data ) {
//  $.each( data, function( key, val ) {
//    book_titles.push( key );
//  });
  
//});

console.log(jsonData);

var countries_suggestions = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    local: book_titles
    });

countries_suggestions.initialize();

// init Typeahead
$('#my_search').typeahead(
{
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'countries',
  source: countries_suggestions.ttAdapter()   // suggestion engine is passed as the source
});
 

//var countries_suggestions = new Bloodhound({
//   datumTokenizer: Bloodhound.tokenizers.whitespace,
//    queryTokenizer: Bloodhound.tokenizers.whitespace,
//    prefetch: {
//        url: 'new_book.json'
//    }
//});

// init Typeahead
//$('#my_search').typeahead(
//{
//  hint: true,
//  highlight: true,
//  minLength: 1
//},
//{
//  name: 'countries',
//  source: countries_suggestions.ttAdapter()   // suggestion engine is passed as the source
//});
</script>
    
</html>