<head>
    <title>Bookhub</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" href="album.css">
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- index.html -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/bloodhound.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/typeahead.jquery.min.js"></script>

</head>

<main role="main">

  <section class="jumbotron text-center" style="margin-top: -3%">
    <div class="container">
      <img class="w-25" src="./img/bookhub-icon-draft.png" style="margin-bottom: 5%">
      <p class="lead text-muted">Welcome to Bookhub! Input up to FIVE book titles to get book recommendations!</p>
    </div>
  </section>

  <form method="post" action="/hello" onsubmit="return validateMyForm();"> 
  <input type="hidden" name="book_ids" id="book_ids" class="form-control hidden" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
  <div class="inputs" style="margin-top: -5%">
    <div class="container justify-content-center" style="width:70%">
      <div class="row">
        <div class="col-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body book">
              <a href="#" class="btn btn-outline-secondary btn-sm editBtn">
                <span class="glyphicon glyphicon-align-left">Remove</span>
              </a>
                <div class="input-group justify-content-center">
                    <div class="d-flex aligh-middle justify-content-center input_field">
                        <input type="text" name="book_title_1" id="book_title_1" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body book">
              <a href="#" class="btn btn-outline-secondary btn-sm editBtn">
                <span class="glyphicon glyphicon-align-left">Remove</span>
              </a>
                <div class="input-group justify-content-center">
                    <div class="d-flex aligh-middle justify-content-center input_field">
                        <input type="text" name="book_title_2" id="book_title_2" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body book">
              <a href="#" class="btn btn-outline-secondary btn-sm editBtn">
                <span class="glyphicon glyphicon-align-left">Remove</span>
              </a>
                <div class="input-group justify-content-center">
                    <div class="d-flex aligh-middle justify-content-center input_field">
                        <input type="text" name="book_title_3" id="book_title_3" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        </div>  
        
      <div class="row justify-content-center">
      <div class="col-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body book">
              <a href="#" class="btn btn-outline-secondary btn-sm editBtn">
                <span class="glyphicon glyphicon-align-left">Remove</span>
              </a>
                <div class="input-group justify-content-center">
                    <div class="d-flex aligh-middle justify-content-center input_field">
                        <input type="text" name="book_title_4" id="book_title_4" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body book">
              <a href="#" class="btn btn-outline-secondary btn-sm editBtn">
                <span class="glyphicon glyphicon-align-left">Remove</span>
              </a>
                <div class="input-group justify-content-center">
                    <div class="d-flex aligh-middle justify-content-center input_field">
                        <input type="text" name="book_title_5" id="book_title_5" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  <section class="jumbotron text-center" style="margin-top: -3%">
  <p>
      <a href="#collapseExample" class="btn btn-secondary my-2" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Advanced Search V</a>
  </p>
  <div id="collapseExample" class="collapse container justify-content-center" style="width:70%;">
      <div class="card card-body">
        form contentasdfdf as f asdfasdfasdfasdfasdfasdfasfadsfasdf
        adfajsdflajsdflajdlfjadlfjdlfjaldfjlaksdfjalskdfjalksdjfald
        joaidjfaoidjfoaijdfoafdjaoisdjfaoidjfoaijdfoajdfoaidjfaoidf
      </div>    
  </div>
  <p>      
    <!--button onclick="check()" class="btn btn-secondary" type="submit">Get Recommendations!</button> -->
      <button class="btn btn-secondary" type="submit">Get Recommendations!</button>
  </p>
  <h2 id="msg"></h2>
  </section>
  </form>   
    
  <form id="output" class="output_form">
      {% if data %}
            <h1>Results</h1>
            <h1>{{output_message}}</h1>
            {% for d in data %}  
                <br>
                <p>{{d}}</p>
            {% endfor %}
      {% endif %}
  </form>
    
</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Copyright 2019</p>
  </div>
</footer>
<style>
    .book{
        height:170px;
    }
    
    .editBtn{
        margin-left: 60%;
    }
    
    .add{
        height:50%;
    }
    
    .input_field{
        margin-top:10%;
    }
    
    .output_form{
        
    }
    
    .hidden{
        visibility: hidden;
    }
    
</style>
<!-- visibility: hidden; -->
<script>
    
  var data = (function(){
      var data;
      $.ajax({
      url: "/ajax/books/id-title",
      dataType: "json",
      async:false,
      success: function(response){
            var titles = [];
            var dict = [];
            $.each(response, function( key, val) {
                titles.push(key);
                dict[key] = val;
            });
          data = [titles, dict]
          
        }
      }); 
      return data;
  })();
    
    //console.log(data);
    
     var book_titles = data[0];
     var book_dict = data[1];
    
    //console.log(book_dict);
    //console.log(book_titles);
    
        // init Bloodhound
    var books_suggestions = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        //prefetch: {
            //url: './data/clean_title_data.json'
        //}
        local: book_titles
    });

    // init Typeahead
    $('#book_title_1, #book_title_2, #book_title_3, #book_title_4, #book_title_5').typeahead(
    {
      hint: true,
      highlight: true,
      minLength: 1
    },
    {
      name: 'books',
      source:books_suggestions
      //source: books_suggestions.ttAdapter()   // suggestion engine is passed as the source
    });
    
    function validateMyForm(){
        return check();
    }
    
    //check function
    function check(){
        var book_t1 = document.getElementById('book_title_1').value, 
            book_t2 = document.getElementById('book_title_2').value, 
            book_t3 = document.getElementById('book_title_3').value, 
            book_t4 = document.getElementById('book_title_4').value,
            book_t5 = document.getElementById('book_title_5').value, 
            check_valid = true,
            id_list = "",
            titles = [book_t1, book_t2, book_t3, book_t4, book_t5]
            //console.log(titles);
            //console.log(book_titles.includes(titles[0]));

       
        for (var i = 0; i < 5; i++){

            if ((titles[i]!= "")&&!(book_titles.includes(titles[i]))){
              console.log(i);
                check_valid = false;
                var id = "#book_title_" + (1+i);
                $(id).css("border-color", "red");
                document.getElementById('msg').innerHTML = "Please choose book names in the suggestion";
                
            } else{
              if(titles[i]!= ""){
                console.log(book_dict[titles[i]][0]);
                id_list = id_list + (book_dict[titles[i]][0]) + " ";
              }
            }
        }
        
        if (check_valid && id_list!="") {
          console.log(id_list);
            //$("#").value = id_list;
            document.getElementById('book_ids').value = id_list;
            
            return true;
        } else{
            return false;
        }
    }
    
    
</script>